

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
form{
    width: 20%;
    text-align:center;
    border: 1px solid #000;
    background: linear-gradient(45deg,purple,pink);
    margin: 20vh auto;
    padding-top: 8vh;
    padding-bottom: 8vh;
}
form h1{
    font-size: 4rem;
}
form h2{
    font-size: 3rem;
    line-height: 3.6rem;
    padding-bottom: 4vh;
}
form button{
    width: 100px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px;
}